<html>
  <body>
    <p>This is where the admin will generate a passcode</p>
    {% if message %}
      {{ message }}
    {% endif %}

      <form action="{% url 'admin' %}" method="post">

        {% csrf_token %}
        <button name="timeout" value="15" type="submit">Generate Passcode</button>

      </form>
      <form action="{% url 'logout' %}">
        <button type="submit">Logout</button>
      </form>

      {% for passcode_log in passcode_logs %}
        <p>{{ passcode_log}} was used at {{ passcode_log.get_timestamp }}</p>
      {% endfor %}

  </body>
</html>